---
import Layout from "../../layouts/Layout.astro";
import Filter from "../../components/internship/filter";
import FilterSkeleton from "../../components/internship/filterSkeleton.astro"
import Internships from "../../components/internship/internships.astro";
import InternshipsSkeleton from "../../components/internship/internshipsSkeleton.astro";
import { PARAMS } from "../../constants/params";
import Warning from "@/components/ui/warning"
import { UserService } from "@/services/user.service";
import PageTitle from "@/components/ui/page-title";

const searchParams = Astro.url.searchParams
const pathname = Astro.url.pathname

const params = Object.fromEntries(PARAMS.map((key) => [key, searchParams.get(key)]));
const { isAuthenticated} = Astro.locals.auth()
const loggedUser = await Astro.locals.currentUser()
let hasNotifications = false;

if (isAuthenticated  && loggedUser) {
    const userService = new UserService()
    
    const user = await userService.getUser(loggedUser?.id)
    hasNotifications = user?.suscripted ?? false
}

const filteredParams = {...params, careers: params?.careers?.split(",") ?? [], page: params?.page ? Number(params?.page) : 0}
---

<Layout>
    <section class="container min-h-dvh mt-5 mb-20">
        <PageTitle title="Pasantías disponibles" description="Explora las pasantías disponibles para ti" />

        <div class="mb-0 md:mb-10 w-fit">
            <Warning title="Por el momento solo hay pasantías de UTN FRC" client:load/>
        </div>
        <div class="grid lg:grid-cols-5 grid-cols-3 gap-10">
            <Filter filter={filteredParams} isAuthenticated={isAuthenticated} loggedUser={loggedUser} hasNotifications={hasNotifications} client:only>
                <FilterSkeleton slot="fallback"/>
            </Filter>

            <Internships searchParams={searchParams.toString()} pathname={pathname} params={filteredParams} server:defer>
                    <InternshipsSkeleton slot="fallback"/>
            </Internships>
        </div>
    </section>
</Layout>