---
import Filter from "../../components/filter";
import Internships from "../../components/internships.astro";
import InternshipsSkeleton from "../../components/internshipsSkeleton.astro";
import { PARAMS } from "../../constants/params";
import Layout from "../../layouts/Layout.astro";

const searchParams = Astro.url.searchParams

const { careers = "", text = "", time = "", page=0 } = Object.fromEntries(PARAMS.map((key) => [key, searchParams.get(key)]));

const filterCareers = careers?.split(",");
---

<Layout>
    <main>
        <section class="flex flex-col md:flex-row gap-10 h-full mb-20">
            <Filter careers={filterCareers} text={text} time={time} page={page} client:only/>
            
            <Internships careers={filterCareers} text={text} time={time} page={page} server:defer>
                    <InternshipsSkeleton slot="fallback"/>
            </Internships>
        </section>
    </main>
</Layout>