---
import Filter from "../../components/internship/filter";
import FilterSkeleton from "../../components/internship/filterSkeleton.astro"
import Internships from "../../components/internship/internships.astro";
import InternshipsSkeleton from "../../components/internship/internshipsSkeleton.astro";
import { PARAMS } from "../../constants/params";
import Layout from "../../layouts/Layout.astro";

const searchParams = Astro.url.searchParams
const pathname = Astro.url.pathname

const { careers = "", text = "", time = "", page = 0 } = Object.fromEntries(PARAMS.map((key) => [key, searchParams.get(key)]));

const filterCareers = careers?.split(",");
---

<Layout>
    <main class="container">
        <section class="grid lg:grid-cols-5 grid-cols-3 gap-10 h-full mb-20">
            <Filter careers={filterCareers} text={text} time={time} page={Number(page)} client:only>
                <FilterSkeleton slot="fallback"/>
            </Filter>
            
            <Internships searchParams={searchParams.toString()} pathname={pathname} page={Number(page)} careers={filterCareers} text={text} time={time} server:defer>
                    <InternshipsSkeleton slot="fallback"/>
            </Internships>
        </section>
    </main>
</Layout>