---
import Filter from "../../components/internship/filter";
import FilterSkeleton from "../../components/internship/filterSkeleton.astro"
import Internships from "../../components/internship/internships.astro";
import InternshipsSkeleton from "../../components/internship/internshipsSkeleton.astro";
import { PARAMS } from "../../constants/params";
import Layout from "../../layouts/Layout.astro";

const searchParams = Astro.url.searchParams
const pathname = Astro.url.pathname

const { careers = "", text = "", time = "", date = "", page = 0 } = Object.fromEntries(PARAMS.map((key) => [key, searchParams.get(key)]));

const filterCareers = careers?.split(",");
---

<Layout>
    <section class="container h-full mt-5 mb-20">
            <div class="flex flex-row items-center gap-5 mb-10">
                <div class="h-14 w-1 bg-primary-hover"></div>
                <h2 class="title-lg">Pasantías disponibles</h2>
            </div>
            <div class="grid lg:grid-cols-5 grid-cols-3 gap-10">
                <Filter careers={filterCareers} text={text} time={time} date={date} page={Number(page)} client:only>
                    <FilterSkeleton slot="fallback"/>
                </Filter>
                
                <Internships searchParams={searchParams.toString()} pathname={pathname} page={Number(page)} careers={filterCareers} text={text} time={time} date={date} server:defer>
                        <InternshipsSkeleton slot="fallback"/>
                </Internships>
            </div>
    </section>
</Layout>