---
import Layout from '../layouts/Layout.astro';
import { Bell, MoveRight } from "@lucide/astro";
import pasantias from "../../public/images/pasantias.png"
import { Image } from 'astro:assets';
import prisma from "../lib/prisma";

const user = await Astro.locals.currentUser();
const name = user?.fullName;

// Rompemos un poquito la arquitectura layered para no agregar boilerplate :P
const [internshipsCount, companiesCount, alertsCount] = await Promise.all([
	prisma.internship.count(),
	prisma.company.count(),
	prisma.userNotification.count(),
])

const fmt = (n: any) => new Intl.NumberFormat('es-AR').format(n);
---

<Layout>
	<div class="bg-grid min-h-dvh pt-20 pb-20">
		<div class="container lg:gap-24">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
				<section>
					<div class="text-primary-hover mb-3">
						<p>ESTADO: {user ? "SESIÓN INICIADA" : "SIN INICIAR SESIÓN"}</p>
					</div>
					<h1 class="title-2xl">BuscoPasantías</h1>
					{user && <p class="text-light-text mb-2">¡Bienvenido/a <span class="text-primary-hover">{name}</span>!</p>}

					<div class="mb-6">
						<p class="max-w-prose">
							La aplicación número 1 en pasantías con convenios universitarios de Argentina.
						</p>
						<br>
						<p>
							 Encontra posiciones reales y actuales, gestioná alertas personalizadas y postulate con confianza y de forma más fácil.
						</p>
					</div>

					<div class="flex flex-col sm:flex-row gap-3 sm:items-center">
						<a href="/internships" class="button button-primary mr-3">
							Ver pasantías <MoveRight class="w-4 ml-2" />
						</a>
						<a href="/terms-and-conditions" class="button button-outline">
							Términos y condiciones
						</a>
					</div>

					<div class="mt-20 grid grid-cols-1 sm:grid-cols-3 gap-4">
						<div class="flex flex-col items-center justify-center bg-light-neutral/60 backdrop-blur-2xl rounded-xl p-5 text-center">
							<span class="text-3xl font-bold">+ {fmt(internshipsCount)}</span>
							<span class="text-sm text-text/70">Pasantías</span>
						</div>
						<div class="flex flex-col items-center justify-center bg-light-neutral/60 backdrop-blur-2xl rounded-xl p-5 text-center">
							<span class="text-3xl font-bold">+ {fmt(companiesCount)}</span>
							<span class="text-sm text-text/70">Empresas</span>
						</div>
						<div class="flex flex-col items-center justify-center bg-light-neutral/60 backdrop-blur-2xl rounded-xl p-5 text-center">
							<div class="flex flex-row gap-2 items-center">
								<Bell class="mx-auto" stroke-width="2" />
								<span class="text-3xl font-bold">{fmt(alertsCount)}</span>
							</div>
							<span class="text-sm text-text/70">Alertas enviadas</span>
						</div>
					</div>
				</section>

				<div class="flex justify-center">
					<Image src={pasantias} alt="BuscoPasantias ilustración" class="w-full max-w-md rounded-md shadow-md" />
				</div>
			</div>

			
		</div>
	</div>
</Layout>
