---
import Layout from "../layouts/Layout.astro";
import { Bell, MoveRight } from "@lucide/astro";
import prisma from "../lib/prisma";
import FindInternship from "@/components/internship/findInternship";
import RecentInternships from "@/components/internship/recentInternships.astro";
import RecentInternshipsSkeleton from "@/components/internship/recentInternshipsSkeleton.astro";
import { UNIVERSITIES_CAREERS } from "@/constants/universitiesCareers";

// We broke the architecture and acoplate the system in order to avoid boilerplate :P
const [internshipsCount, companiesCount, alertsCount] = await Promise.all([
  prisma.internship.count(),
  prisma.company.count(),
  prisma.userNotification.count(),
]);

const fmt = (n: any) => new Intl.NumberFormat("es-AR").format(n);
---

<Layout>
  <div class="bg-grid min-h-dvh pt-20 pb-20">
    <div class="container lg:gap-24">
      <section class="flex flex-col items-center gap-10">
        <div class="flex flex-col gap-2 text-center">
          <h2 class="italic title-lg mb-0!">Si te dicen</h2>
          <h1 class="title-2xl text-primary-hover mb-0!">BuscoPasantías</h1>
          <h2 class="italic title-lg mb-0!">... ya las encontraste</h2>
        </div>

        <div class="text-light-text/90 text-center w-full! md:max-w-[650px]">
          <p class="text-lg">
            La aplicación número 1 en pasantías con convenios universitarios de
            Argentina.
          </p>
        </div>

        <div class="flex flex-col items-center gap-3 w-full! md:w-[645px]!">
          <FindInternship client:load />
          <div
            class="hidden md:flex flex-row flex-wrap items-center gap-2 md:gap-5"
          >
            <a
              href={`/pasantias?text=power+bi`}
              class="rounded-md bg-light-neutral hover:bg-neutral transition-all text-light-text/80 px-5 py-1 border border-white/25!"
              >Power BI</a
            >
            <a
              href={`/pasantias?text=excel`}
              class="rounded-md bg-light-neutral hover:bg-neutral transition-all text-light-text/80 px-5 py-1 border border-white/25!"
              >Excel</a
            >
            <a
              href={`/pasantias?text=desarrollo`}
              class="rounded-md bg-light-neutral hover:bg-neutral transition-all text-light-text/80 px-5 py-1 border border-white/25!"
              >Desarrollo</a
            >
            <a
              href={`/pasantias?text=it`}
              class="rounded-md bg-light-neutral hover:bg-neutral transition-all text-light-text/80 px-5 py-1 border border-white/25!"
              >IT</a
            >
          </div>

          <div
            class="overflow-hidden! flex md:hidden marquee-wrapper max-w-full"
          >
            <div
              class="fmarquee-track flex flex-row gap-2 marquee-track text-nowrap!"
            >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >Power BI</span
              >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >Excel</span
              >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >Desarrollo</span
              >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >IT</span
              >

              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >Power BI</span
              >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >Excel</span
              >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >Desarrollo</span
              >
              <span
                class="rounded-md bg-light-neutral text-light-text/80 px-5 py-1 border border-white/25!"
                >IT</span
              >
            </div>
          </div>
        </div>

        <div
          class="mt-10 md:mt-20 grid grid-cols-1 sm:grid-cols-3 gap-4 border border-white/20! rounded-xl bg-neutral"
        >
          <article
            class="border-b md:border-r md:border-b-0 border-white/20 relative overflow-hidden flex flex-row gap-5 md:gap-0 md:flex-col items-center justify-start md:justify-center rounded-xl p-8 md:p-8"
          >
            <!-- <div class="glow-orb"></div> -->

            <span
              class="counter-up text-3xl font-bold"
              data-start-value={0}
              data-target-value={internshipsCount}
              >+ {fmt(internshipsCount)}</span
            >
            <span class="text-2xl font-light md:text-sm text-text/70"
              >Pasantías</span
            >
          </article>
          <article
            class="border-b md:border-r md:border-b-0 border-white/20 relative overflow-hidden flex flex-row gap-5 md:gap-0 md:flex-col items-center justify-start md:justify-center rounded-xl p-6 md:p-8 text-center"
          >
            <!-- <div class="glow-orb"></div> -->

            <span
              class="counter-up text-3xl font-bold"
              data-start-value={0}
              data-target-value={companiesCount}>+ {fmt(companiesCount)}</span
            >
            <span class="text-2xl font-light md:text-sm text-text/70"
              >Empresas</span
            >
          </article>
          <article
            class="relative overflow-hidden flex flex-row gap-5 md:gap-0 md:flex-col items-center justify-start md:justify-center backdrop-blur-2xl rounded-xl p-6 md:p-8 text-center"
          >
            <!-- <div class="glow-orb"></div> -->

            <div class="flex flex-row gap-2 items-center">
              <Bell class="mx-auto" stroke-width="2" />
              <span
                class="counter-up text-3xl font-bold"
                data-start-value={0}
                data-target-value={alertsCount}>{fmt(alertsCount)}</span
              >
            </div>
            <span class="text-2xl font-light md:text-sm text-text/70"
              >Alertas enviadas</span
            >
          </article>
        </div>

        <div class="w-full! md:w-[645px]! flex flex-col gap-5 mt-8">
          <div class="flex flex-row items-center justify-between">
            <p class="text-light-text font-semibold">Pasantías recientes</p>
            <a class="button button-outline" href="/pasantias"
              >Ver todas
              <MoveRight class="w-4 ml-2" />
            </a>
          </div>
          <RecentInternships server:defer>
            <RecentInternshipsSkeleton slot="fallback" />
          </RecentInternships>
        </div>

        <div class="mt-8 flex flex-col items-center">
          <h4 class="title-lg text-center">Universidades disponibles</h4>
          <div class="flex flex-col md:flex-row flex-wrap items-center gap-5">
            {
              UNIVERSITIES_CAREERS.map((university) => (
                <span class="px-5 py-2 rounded-md bg-light-neutral">
                  {university.name}
                </span>
              ))
            }
          </div>
        </div>
      </section>
    </div>

    <script>
      function handleCounter() {
        const counters = document.querySelectorAll(".counter-up");
        const steps = 100;

        counters.forEach((counter) => {
          const targetNumber = Number(
            counter.getAttribute("data-target-value") ?? 0,
          );
          const startNumber = Number(
            counter.getAttribute("data-start-value") ?? 0,
          );
          const stepSize = (targetNumber - startNumber) / steps;

          function updateCounter(start: number, target: number) {
            counter.textContent = `+ ${String(start)}`;
            if (start < target) {
              const nextStart = Math.ceil(start + stepSize);

              setTimeout(() => {
                updateCounter(nextStart, target);
              }, 30);
            }
          }

          updateCounter(startNumber, targetNumber);
        });
      }

      function handleObserver() {
        const target = document.querySelector(".counter-up");
        const options = {};

        // When intersecting
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              handleCounter();
              // Desuscribimos
              observer.unobserve(entry.target);
            }
          });
        }, options);

        // Observe the elemnts
        observer.observe(target);
      }

      window.addEventListener("DOMContentLoaded", handleObserver);
    </script>
  </div>
</Layout>
