---
import { Image } from "astro:assets"
import notFoundImage from '../../../public/images/pasantias-notfound.png';
import { MoveRight } from "@lucide/astro";


type Props = {
    title?:string,
    description?:string,
    action?:string,
    actionLabel?:string,
    imgSrc?: string | ImageMetadata,
    styles?: string
}

const defaultTitle = "!Ups! Error 404";
const defaultDescription = "Parece que la página que buscas ya no existe o nunca existió."
const defaultActionLabel = "Volver"
const defaultImage = notFoundImage;

const {title = defaultTitle, description = defaultDescription, action = "/", actionLabel = defaultActionLabel, imgSrc=defaultImage, styles = ""} = Astro.props as Props;
---
<section class={"container bg-light-neutral p-8 rounded-xl flex flex-col sm:flex-row items-center gap-5 md:gap-10 sm:gap-6 col-span-full " + styles}>
    <div>
            <Image src={imgSrc} alt="Error 404 | No encontrado" class="w-32 h-32 sm:w-fit sm:h-fit object-contain" />
    </div>
    <div class="flex flex-col gap-5 text-center sm:text-left">
        <p class="title-md">{title}</p>     
        <p class="text-text/50">{description}</p>
        {
            action 
            &&
            <a class="button button-outline self-center sm:self-start" href={action}>{actionLabel} <MoveRight   class="w-4 ml-2" /></a>
        }
    </div>
</section>  
