---
import internshipService from "../services/internship.service";
import Card from "./card.astro";
import Pagination from "./pagination.astro";

type Props = {
    searchParams: string,
    pathname: string,
    careers: Array<string>,
    text?: string,
    time?: string,
    page: number
}

const {searchParams, pathname, careers=[], text="", time="", page=0} = Astro.props as Props;


const {data, pages} = await internshipService.getInternships(careers, text, time, page) 
---
<div class="relative flex-1 grow">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 items-stretch">
        {data?.map((internship) => (
            <Card
                internship={internship}
            />
        ))}
    </div>
    <Pagination pages={pages} page={page} searchParams={searchParams} pathname={pathname}/>
     <!-- <div class="absolute -bottom-14 left-0 flex flex-row gap-2">
        {
            new Array(pages).fill(null).map((x, i) => {
                const distance = Math.abs(page - i);
                
                if (distance === 3) return <span class="px-1">...</span>;
                if (distance > 3) return null;
                
                return (
                    <a style={`background-color: ${page === i && "#79716b"}; color: ${page === i && "#eee"}`} href={`?page=${i}&${Object.entries(Astro.props).map(([key, value]) => {if (value && key !== "page") return `${key}=${value}&` })}`} class="border border-gray-200 rounded-xl px-3 py-1">{i+1}</a>
                )
            })
        }
</div> -->
</div>