---
import { TERMS_PAGES } from "@/constants/termsPages";
import Layout from "@/layouts/Layout.astro";

const PREFIX = "/terms-and-conditions/";
const pathname = Astro.originPathname;
const currentURI = pathname.split("/").at(2);
---

<Layout
  title="Términos y Condiciones | BuscoPasantías"
  description="Términos y condiciones de uso de la aplicación BuscoPasantías"
>
  <main
    class="container flex flex-col md:flex-row gap-5 leading-relaxed w-full mb-10 mt-10"
  >
    <aside
      class="flex flex-col gap-2 bg-light-neutral p-10 rounded-xl underline underline-offset-2 text-light-text"
    >
      <a class="hover" href={PREFIX}>Introduccion</a>
      {
        TERMS_PAGES.map(({ id, term, title, content }) => (
          <a
            href={`${PREFIX}${term}`}
            class={
              "hover:text-primary-hover transition-all" +
              (currentURI === term && " text-primary-hover")
            }
          >
            {id}. {title}
          </a>
        ))
      }
    </aside>

    <slot />
  </main>
</Layout>
